{% extends "page.html" %}
{% block title %}TU/e Honors Academy{% endblock %}
{% block view %}

	<h3>TU/e Honors Challenges</h3>
		<p> Do you like challenges? Is delivering excellent results what you aim for? Would you like to do scientific research or solve societal problems? Would you like to make a giant leap forward in your professional as well as personal development? Do you love working under pressure, with the strictest of deadlines? Would you like to build a professional network? Or is entering a prestigious Master abroad your ultimate dream? Then joining the TU/e Honors Academy might be just the thing for you.The TU/e Honors Academy offers a varied choice of excellence tracks for Bachelor students, and from September 2015, honors programs for Master students. The overall goal is to prepare you for personal leadership as well as scientific, societal and/or industrial leadership in a society that is affected exponentially by changes and developments.</p>
	
	<h3>You Are in the Lead</h3>
		<p> In the Track of your choice you are challenged to take the lead in your own development and in the project you are doing. You get the chance to work together with students from other departments, to meet inspiring coaches, to explore the forefront of knowledge and to meet with people from industry. Dive into your own discipline or explore other disciplines, it’s all up to you.</p>
	
	<h3>Investment and Completion</h3>
		<p> The honors work will be on top of your regular study in the second and third year, and requires a time investment of about 10 hours per week (840 hours in total; 30 credits). It is divided in two parts of 15 credits each. After the first part your progress and the quality of your work are assessed. This is also a moment of reflection on continuing your honors work or not, in the same Track or in another one. Successful completion of the full honors program is mentioned on your Bachelor’s diploma, you receive a letter of recommendation and obtain 30 additional credits. If you only complete the first part you get a certificate and 15 additional credits.</p>
	
	<h3>Tracks</h3>
		<p>Click on the track of your choice to see what each track is currently working on!<br /></p>
	
	<div class="committees">
		<div class="gallery">
  			<a href="/energy_transition">
				<h5>Energy Transition</h5>
  			</a>
		</div>

		<div class="gallery">
  			<a href="/smart_mobility">
				<h5>Smart Mobility</h5>
  			</a>
		</div>
	
		<div class="gallery">
  			<a href="/big_data">
    			<h5 style="padding: 68px 0">Big Data</h5>
  			</a>
		</div>

		<div class="gallery">
  			<a href="/smart_cities">
    			<h5 style="padding: 68px 0">Smart Cities</h5>
  			</a>
		</div>
	
		<div class="gallery">
  			<a href="/high_tech">
    			<h5>High Tech Systems</h5>
  			</a>
		</div>
	
		<div class="gallery">
  			<a href="/sensus">
    			<h5 style="padding: 68px 0">SensUs</h5>
  			</a>
		</div>
	
		<div class="gallery">
  			<a href="/comp_prog">
    			<h5 style="font-size:18pt; padding:25px 0">Competitive Programming and Problem Solving</h5>
  			</a>
		</div>
	
		<div class="gallery">
  			<a href="/emp_health">
				<h5 style="font-size:17pt; padding:15px 0">Empowerment for HealthCare and Well-Being</h5>
  			</a>
		</div>
{% endblock %}
