{% extends "page.html" %}
{% block title %}ASML{% endblock %}
{% block view %}
	<div class="partners">

    <div class="partner__block">
      <div class="partner__block--picture">
        <img src="/img/Partners/ASML.png">
      </div>
      <div class="partner__block--info">
		    <h3 class="partner__block--heading">Be part of progress</h3>
        <p>We make machines that make chips; the hearts of the devices that keep us informed, entertained and safe. Devices that improve our quality of life and help to tackle the world’s toughest problems. We build some of the most amazing machines that you will ever see, and the software to run them. Never satisfied, we measure our performance in units that begin with pico or nano.</p>

				<h3 class="partner__block--heading">Graduates: Start your career at ASML</h3>
				<p>ASML offers opportunities for graduates from practically every technical field. You will be working with people from around the world. We believe that those different backgrounds, nationalities and perspectives make us better. We know that an open mind is a creative mind. We support networks such as Young ASML, Women@ASML, Pink ASML or Seniors@ASML. And because there’s more to life than work, you can join your colleagues in anything from running, cycling, football, sailing or skiing in one of the sports teams.</p>
				<br>
				<p>We offer a fulfilling career, not just a job. We reward employees competitively and provide coaching, training and personal career development. Flexibility, enthusiasm, ambition and customer focus are the foundation for a world of opportunity.</p>
				<br>
				<p>Check it out at <a href="www.workingatasml.com/students">www.workingatasml.com/students.</a></p>
				<p>Animation About ASML: <a href="https://www.youtube.com/watch?v=TsHd0fCzhNg&t=13s">https://www.youtube.com/watch?v=TsHd0fCzhNg&t=13s</a></p>
				<p>Video working at ASML: <a href="https://www.youtube.com/watch?v=qXpAMguP-vQ">https://www.youtube.com/watch?v=qXpAMguP-vQ</a></p>
			</div>
    </div>

		<div class="ASML__factsblock">
			<img src="/img/Partners/ASML_info1.png">
			<img src="/img/Partners/ASML_info2.png">
		</div>

	</div>
{% endblock %}
