{% extends "page.html" %}
{% block title %}About H.S.A Confluente{% endblock %}
{% block view %}
<div>
	<p>H.S.A. Confluente was founded in 2016 to build a sense of community amongst the Honors Academy students of Eindhoven University of Technology. Confluente since has grown to be a living community devoted to building a social network of the best Eindhoven has to offer and to offer her members many an opportunity to broaden their horizons. Diversity, both in education and background, is a great asset and Confluente embraces that fact fully, involving members from all faculties and many nationalities. We pride ourselves in being one of the few associations of Eindhoven which has international members in the board.</p>
</div>
	
<div class="photo_header" style="margin-top: 15px;">
	<img src="img/Ambiance/sun.jpg" alt="Impression" class="img">
	<img src="img/Ambiance/group.jpg" alt="Impression" class="img" >
	<img src="img/Ambiance/act1.jpg" alt="Impression" class="img" >
</div>

<div class="down_under">
	<p>Through various fun activities, ranging from drinks through game nights to wine tasting, we strive to allow all our members to bond, while through educational activities and workshops we give them opportunities to learn even more. We also offer our members exposure to potential employers through activities with companies. All these aspects come together in an annual study trip organized by our members.</p>
</div>

<div class="photo_header">
	<img src="img/Ambiance/game.jpg" alt="Impression" class="img">
	<img src="img/Ambiance/drink2.jpg" alt="Impression" class="img" >
	<img src="img/trip2.jpg" alt="Impression" class="img" >
</div>

<div class="down_under">
	<p>Confluente is by honors students, for honors students, and in all we do, from the committees we offer, through the way the board works up to the events, we strive to be an association any honors student can proudly pronounce they are a member of.</p>
</div>

<div class="photo_header">
	<img src="img/Ambiance/gmm1.JPG" alt="Impression" class="img">
	<img src="img/trip4.jpg" alt="Impression" class="img" >
	<img src="img/trip1.JPG" alt="Impression" class="img" >
</div>


{% endblock %}