{% extends "base.html" %}

{% block content %}
<div>
	<h1 style="text-align: center">Current Board</h1>
	<div>
		<h1 style="text-align: center">Board 3b</h1>
		<p style="text-align: center">PICTURE PLACEHOLDER</p>
		<p style="text-align: center"><i>From left to right:</i></p>
	</div>
	<div class="currentBoardBloack">
		<span class="floatingImg">
			<h3 style="text-align: center">Chairman:</h3>
			<h3 style="text-align: center">Dominik Grabarczyk</h3>
			<img src="img/Boards/Dominik.jpg" class="centeredImg" style="width:300px;height:400px;">
		</span>
		<span class="floatingImg">
			<h3 style="text-align: center">Secretary:</h3>
			<h3 style="text-align: center">Vansh Kharbanda</h3>
			<img src="img/Boards/Vansh.jpg" class="centeredImg" style="width:300px;height:400px;">
		</span>
		<span class="floatingImg">
			<h3 style="text-align: center">Treasurer:</h3>
			<h3 style="text-align: center">Wouter Tonnon</h3>
			<img src="img/Boards/Wouter.jpg" class="centeredImg" style="width:300px;height:400px;">
		</span>
		<span class="floatingImg">
			<h3 style="text-align: center">Commissioner Internal Affairs:</h3>
			<h3 style="text-align: center">Gijs Herings</h3>
			<img src="img/Boards/Gijs.jpg" class="centeredImg" style="width:300px;height:400px;">
		</span>
		<span class="floatingImg">
			<h3 style="text-align: center">Commissioner External Affairs:</h3>
			<h3 style="text-align: center">Max van Meer</h3>
			<img src="img/Boards/Max.jpg" class="centeredImg" style="width:300px;height:400px;">
		</span>
		<span class="floatingImg">
			<h3 style="text-align: center">Relationship Manager:</h3>
			<h3 style="text-align: center">Jaer Mertens</h3>
			<img src="img/Boards/Max.jpg" class="centeredImg" style="width:300px;height:400px;">
		</span>
	</div>
</div>
<div>
	<h1 style="text-align: center">Previous Boards</h1>
	<div class="boardDiv">
		<h1 style="text-align: center">Board 3a</h1>
		<h2 style="text-align: center">September 2017 - January 2018</h2>
		<img src="img/Boards/Board3a.jpg" class="boardImg" style="width:90%">
		<p style="text-align: center"><i>From left to right: Max, Steven, Vansh, Andreas, Wouter, Dominik, Gijs</i></p>
		<table style="padding: 0 5% 0 5%;">
			<tr>
				<td>Chairman </td>
				<td>– Andreas Panteli</td>
			</tr>
			<tr>
				<td>Secretary </td>
				<td>– Vansh Kharbanda</td>
			</tr>
			<tr>
				<td>Treasurer </td>
				<td>– Wouter Tonnon</td>
			</tr>
			<tr>
				<td>Commissioner Internal Affairs </td>
				<td>– Gijs Herings</td>
			</tr>
			<tr>
				<td>Commissioner External Affairs </td>
				<td>– Steven Kuijpers</td>
			</tr>
			<tr>
				<td>Vice Chairman </td>
				<td>– Dominik Grabarczyk</td>
			</tr>
			<tr>
				<td>Counselor </td>
				<td>– Max van Meer</td>
			</tr>
		</table>
	</div>
	<div class="boardDiv">
		<h1 style="text-align: center">Board 2b</h1>
		<h2 style="text-align: center">January 2017 - September 2017</h2>
		<img src="img/Boards/Board2b.jpg" class="boardImg" style="width:90%">
		<p style="text-align: center"><i>From left to right: Steven, Andreas, Ahmed, Luuk, Joyce, Alissa, Chirstiaan</i></p>
		<table style="padding: 0 5% 0 5%;">
			<tr>
				<td>Chairman </td>
				<td>– Luuk Godtschalk</td>
			</tr>
			<tr>
				<td>Secretary </td>
				<td>– Andreas Panteli</td>
			</tr>
			<tr>
				<td>Treasurer </td>
				<td>– Alissa Buskermolen</td>
			</tr>
			<tr>
				<td>Commissioner Internal Affairs </td>
				<td>– Joyce Kimenai</td>
			</tr>
			<tr>
				<td>Commissioner External Affairs </td>
				<td>– Steven Kuijpers</td>
			</tr>
			<tr>
				<td>Vice Chairman </td>
				<td>– Christiaan Dirkx</td>
			</tr>
			<tr>
				<td>Counselor </td>
				<td>– Ahmed Ahres</td>
			</tr>
		</table>
	</div>
	<div class="boardDiv">
		<h1 style="text-align: center">Board 2a</h1>
		<h2 style="text-align: center">September 2016 - January 2017</h2>
		<img src="img/Boards/Board2a.JPG" class="boardImg" style="width:90%">
		<p style="text-align: center"><i>From left to right: Chirstiaan, Joyce, Yoram, Alissa, Luuk</i></p>
		<table style="padding: 0 5% 0 5%;">
			<tr>
				<td>Chairman </td>
				<td>– Yoram Meijaard</td>
			</tr>
			<tr>
				<td>Secretary </td>
				<td>– Joyce Kimenai</td>
			</tr>
			<tr>
				<td>Treasurer </td>
				<td>– Alissa Buskermolen</td>
			</tr>
			<tr>
				<td>Commissioner Internal Affairs </td>
				<td>– Luuk Godtschalk</td>
			</tr>
			<tr>
				<td>Commissioner External Affairs </td>
				<td>– Christiaan Dirkx</td>
			</tr>
		</table>
	</div>
	<div class="boardDiv">
		<h1 style="text-align: center">Board 1b</h1>
		<h2 style="text-align: center">February 2016 - September 2016</h2>
		<img src="img/Boards/Board1b.JPG" class="boardImg" style="width:90%">
		<p style="text-align: center"><i>From left to right: Loes, Wouter, Yannick, Yoram, Monique, Satuki</i></p>
		<table style="padding: 0 5% 0 5%;">
			<tr>
				<td>Chairman </td>
				<td>– Yannick Augustijn</td>
			</tr>
			<tr>
				<td>Secretary </td>
				<td>– Monique Huveneers</td>
			</tr>
			<tr>
				<td>Treasurer </td>
				<td>– Satuki Kalverda</td>
			</tr>
			<tr>
				<td>Commissioner External Affairs </td>
				<td>– Yoram Meijaard</td>
			</tr>
			<tr>
				<td>Commissioner Internal Affairs </td>
				<td>– Loes Hoefnagels</td>
			</tr>
			<tr>
				<td>Vice Treasurer </td>
				<td>– Wouter Boerjan</td>
			</tr>
		</table>
	</div>
	<div class="boardDiv">
		<h1 style="text-align: center">Board 1a (Founders)</h1>
		<h2 style="text-align: center">January 2016 - February 2016</h2>
		<img src="img/Boards/Board1a.jpg" class="boardImg" style="width:90%">
		<p style="text-align: center"><i>From left to right: Loes, Yannick, Monique, Joran, Jarla, Satuki</i></p>
		<table style="padding: 0 5% 0 5%;">
			<tr>
				<td>Chairman </td>
				<td>– Joran Savenije</td>
			</tr>
			<tr>
				<td>Secretary </td>
				<td>– Monique Huveneers</td>
			</tr>
			<tr>
				<td>Treasurer </td>
				<td>– Jarla Thiesbrummel</td>
			</tr>
			<tr>
				<td>Commissioner Internal Affairs </td>
				<td>– Loes Hoefnagels</td>
			</tr>
			<tr>
				<td>Vice Chairman </td>
				<td>– Yannick Augustijn</td>
			</tr>
			<tr>
				<td>Vice Treasurer </td>
				<td>– Satuki Kalverda</td>
			</tr>
		</table>
	</div>
	<div class="boardDiv">
		<h1 style="text-align: center">Board 0 (Before official founding)</h1>
		<h2 style="text-align: center">March 2015 - August 2015</h2>
		<table style="padding: 0 5% 0 5%;">
			<tr>
				<td>Chairman </td>
				<td>– Stijn van Leuken</td>
			</tr>
			<tr>
				<td>Secretary </td>
				<td>– Lotte van Hezewijk</td>
			</tr>
			<tr>
				<td>Treasurer </td>
				<td>– Jarla Thiesbrummel</td>
			</tr>
			<tr>
				<td>Commissioner Internal Affairs </td>
				<td>– Floyd Heitzer</td>
			</tr>
			<tr>
				<td>Commissioner External Affairs </td>
				<td>– Bram Nuijten</td>
			</tr>
			<tr>
				<td>Vice Chairman </td>
				<td>– Joran Savenije</td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}