{% extends "base.html" %}
{% block content %}
	<div id="currentBoard">
		<div class="container container--content">

			<h1 class="page-title">Board 3b</h1>


			<div class="board-hero flex">
				<img class="board-hero__item boardImg--current" src="img/Boards/Board3b.jpg">
				<ul class="list board-hero__item">
				
					<li class="list__item">
						<p class="accent">Dominik Grabarczyk</p>
						<p>Chairman</p>
					</li>
					
					<li class="list__item">
						<p class="accent">Vansh Kharbanda</p>
						<p>Secretary</p>
					</li>
					
					<li class="list__item">
						<p class="accent">Wouter Tonnon</p>
						<p>Treasurer</p>
					</li>
					
					<li class="list__item">
						<p class="accent">Gijs Herings</p>
						<p>Commissioner Internal Affairs</p>
					</li>
					
					<li class="list__item">
						<p class="accent">Max van Meer</p>
						<p>Commissioner External Affairs</p>
					</li>
					
					<li class="list__item">
						<p class="accent">Jaer Mertens</p>
						<p>Relationship Manager</p>
					</li>
					
				</ul>
			</div>
			<!--<div class="boardImage">
				<img src="img/Boards/Dominik.jpg" class="centeredImg">
				<img src="img/Boards/Vansh.jpg" class="centeredImg">
				<img src="img/Boards/Wouter.jpg" class="centeredImg">
				<img src="img/Boards/Gijs.jpg" class="centeredImg">
				<img src="img/Boards/Max.jpg" class="centeredImg">
				<img src="img/Boards/Max.jpg" class="centeredImg">
			</div>-->


		</div>
	</div>

	<div class="container container--view">

		<h1>Previous Boards</h1>

		<div class="boardDiv">
			<h3><span class="heading-box">Board 3a</span>September 2017 - January 2018</h3>
			<div class="board-flex">
				<div class="board-img">
				<img src="img/Boards/Board3a.jpg" class="boardImg">
				<p>From left to right: Max, Steven, Vansh, Andreas, Wouter, Dominik, Gijs</p>
				</div>
				<table class="board-text">
					<tbody>
						<tr>
							<th>Chairman </th>
							<td>Andreas Panteli</td>
						</tr>
						<tr>
							<th>Secretary </th>
							<td>Vansh Kharbanda</td>
						</tr>
						<tr>
							<th>Treasurer </th>
							<td>Wouter Tonnon</td>
						</tr>
						<tr>
							<th>Commissioner Internal Affairs</th>
							<td>Gijs Herings</td>
						</tr>
						<tr>
							<th>Commissioner External Affairs</th>
							<td>Steven Kuijpers</td>
						</tr>
						<tr>
							<th>Vice Chairman</th>
							<td>Dominik Grabarczyk</td>
						</tr>
						<tr>
							<th>Counselor</th>
							<td>Max van Meer</td>
						</tr>
					</tbody>
				</table>
		</div></div>

		<div class="boardDiv">
			<h3><span class="heading-box">Board 2b</span> January 2017 - September 2017</h3>

			<div class="board-flex">
				<div class="board-img">
			<img src="img/Boards/Board2b.jpg" class="boardImg">
			<p>From left to right: Steven, Andreas, Ahmed, Luuk, Joyce, Alissa, Chirstiaan</p>
		</div>
		<table class="board-text">
				<tbody>
					<tr>
						<th>Chairman</th>
						<td>Luuk Godtschalk</td>
					</tr>
					<tr>
						<th>Secretary </th>
						<td>Andreas Panteli</td>
					</tr>
					<tr>
						<th>Treasurer </th>
						<td>Alissa Buskermolen</td>
					</tr>
					<tr>
						<th>Commissioner Internal Affairs </th>
						<td>Joyce Kimenai</td>
					</tr>
					<tr>
						<th>Commissioner External Affairs </th>
						<td>Steven Kuijpers</td>
					</tr>
					<tr>
						<th>Vice Chairman </th>
						<td>Christiaan Dirkx</td>
					</tr>
					<tr>
						<th>Counselor </th>
						<td>Ahmed Ahres</td>
					</tr>
				</tbody>
			</table>
		</div></div>

		<div class="boardDiv">
			<h3><span class="heading-box">Board 2a</span> September 2016 - January 2017</h3>

			<div class="board-flex">
				<div class="board-img">
			<img src="img/Boards/Board2a.JPG" class="boardImg">
			<p>From left to right: Chirstiaan, Joyce, Yoram, Alissa, Luuk</p>
		</div>
		<table class="board-text">
				<tbody>
					<tr>
						<th>Chairman</th>
						<td>Yoram Meijaard</td>
					</tr>
					<tr>
						<th>Secretary </th>
						<td>Joyce Kimenai</td>
					</tr>
					<tr>
						<th>Treasurer </th>
						<td>Alissa Buskermolen</td>
					</tr>
					<tr>
						<th>Commissioner Internal Affairs </th>
						<td>Luuk Godtschalk</td>
					</tr>
					<tr>
						<th>Commissioner External Affairs </th>
						<td>Christiaan Dirkx</td>
					</tr>
				</tbody>
			</table>
		</div></div>

		<div class="boardDiv">
			<h3><span class="heading-box">Board 1b</span> February 2016 - September 2016</h3>

			<div class="board-flex">
				<div class="board-img">
			<img src="img/Boards/Board1b.JPG" class="boardImg">
			<p>From left to right: Loes, Wouter, Yannick, Yoram, Monique, Satuki</p>
		</div>
		<table class="board-text">
				<tbody>
					<tr>
						<th>Chairman </th>
						<td>Yannick Augustijn</td>
					</tr>
					<tr>
						<th>Secretary </th>
						<td>Monique Huveneers</td>
					</tr>
					<tr>
						<th>Treasurer </th>
						<td>Satuki Kalverda</td>
					</tr>
					<tr>
						<th>Commissioner External Affairs </th>
						<td>Yoram Meijaard</td>
					</tr>
					<tr>
						<th>Commissioner Internal Affairs </th>
						<td>Loes Hoefnagels</td>
					</tr>
					<tr>
						<th>Vice Treasurer </th>
						<td>Wouter Boerjan</td>
					</tr>
				</tbody>
			</table>
		</div></div>

		<div class="boardDiv">
			<h3><span class="heading-box">Board 1a</span> January 2016 - February 2016 (Founders)</h3>

			<div class="board-flex">
				<div class="board-img">
			<img src="img/Boards/Board1a.jpg" class="boardImg">
			<p>From left to right: Loes, Yannick, Monique, Joran, Jarla, Satuki</p>
		</div>
		<table class="board-text">
				<tbody>
					<tr>
						<th>Chairman </th>
						<td>Joran Savenije</td>
					</tr>
					<tr>
						<th>Secretary </th>
						<td>Monique Huveneers</td>
					</tr>
					<tr>
						<th>Treasurer </th>
						<td>Jarla Thiesbrummel</td>
					</tr>
					<tr>
						<th>Commissioner Internal Affairs </th>
						<td>Loes Hoefnagels</td>
					</tr>
					<tr>
						<th>Vice Chairman </th>
						<td>Yannick Augustijn</td>
					</tr>
					<tr>
						<th>Vice Treasurer </th>
						<td>Satuki Kalverda</td>
					</tr>
				</tbody>
			</table></div>
		</div>
		<div class="boardDiv">
			<h3><span class="heading-box">Board 0</span> March 2015 - August 2015 (Before official founding)</h3>

			<div class="board-flex">
				<table class="board-text">
				<tbody>
					<tr>
						<th>Chairman </th>
						<td>Stijn van Leuken</td>
					</tr>
					<tr>
						<th>Secretary </th>
						<td>Lotte van Hezewijk</td>
					</tr>
					<tr>
						<th>Treasurer </th>
						<td>Jarla Thiesbrummel</td>
					</tr>
					<tr>
						<th>Commissioner Internal Affairs </th>
						<td>Floyd Heitzer</td>
					</tr>
					<tr>
						<th>Commissioner External Affairs </th>
						<td>Bram Nuijten</td>
					</tr>
					<tr>
						<th>Vice Chairman </th>
						<td>Joran Savenije</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div></div>
{% endblock %}
