<div class="body">
	<div class="head">
		<p><a></a></p>
    <h2>Committees</h2>
    <br>
	</div>
	<div class="committee-blocks">

    <div class="block">
      <div class="block-picture">
        <img src="/img/Educational.jpg">
      </div>
      <div class="block-info">
		    <h3 class="committee-heading">Educational Committee</h3>
        <p>The Educational Committee is responsible for the educational activities Confluente offers. These are for example lunch lectures, company visits and workshops.</p>
      </div>
    </div>

    <div class="block">
      <div class="block-picture">
        <img src="/img/Activity.jpg">
      </div>
      <div class="block-info">
        <h3 class="committee-heading">Activity Committee</h3>
        <p>The Activity Committee is responsible for the recreational and team building activities, which add to the community of Confluente. The main purpose of this committee is to bond the different tracks and to create a sense of community within Confluente.</p>
      </div>
    </div>

    <div class="block">
      <div class="block-picture">
        <img src="/img/Website.jpg">
      </div>
      <div class="block-info">
        <h3 class="committee-heading">Website Committee</h3>
        <p>The Website Committee, as it says, is responsible for the website. Improvements are always possible, and the committee is always open to funny side-projects related to data. They also handle all the other computer or data related items of the association.</p>
      </div>
    </div>

    <div class="block">
      <div class="block-picture">
        <img src="/img/StudyTrip.jpg">
      </div>
      <div class="block-info">
        <h3 class="committee-heading">StudyTrip Committee</h3>
        <p>This committee is responsible for organizing a study trip. Multiple committees can exist throughout the year. The choice of destination is up to the committee and larger trips are partly funded by the Honors Academy and the participants. Study trips consists of multiple company and university visits. Earlier year destinations included London, Turin, Poland and Budapest.</p>
      </div>
    </div>

    <div class="block">
      <div class="block-picture">
        <img src="/img/IntroWeekend2017.jpg">
      </div>
      <div class="block-info">
        <h3 class="committee-heading">IntroWeekend Committee</h3>
        <p>The IntroWeekend committee is responsible for the introduction of Confluente in the beginning of the year. During this weekend, the first year Honors (bachelor) students meet each other during different activities. During this weekend the goal is to introduce Confluente to the new Honors students and add them to the community.</p>
      </div>
    </div>

    <div class="block">
      <div class="block-picture">
        <img src="/img/Acquisition.jpg">
      </div>
      <div class="block-info">
        <h3 class="committee-heading">Acquisition Committee</h3>
        <p>The purpose of the Acquisition Committee is to acquire contacts and sponsorships from companies, in combination with strengthening the existing ties between those companies and Confluente and her members.</p>
      </div>
    </div>

	</div>
</div>
