{% extends "base.html" %}
{% block content %}

	<h1>Empowerment for Health and Wellbeing</h1>
	<p>Leading an unhealthy lifestyle is currently one of the main problems in western society. As a result, the costs of healthcare and increasing exponentially. This combination currently presents a huge societal but also an economical and organizational challenge. To give focus to the challenge at hand we pose the following question: "How do we get people to take responsibility for their own health and wellbeing?" You will try to tackle this problem by learning how to develop and design systems together with these people, in a real context and with a real client. Through advanced design processes you will learn about working with patients and therapists to develop physical or digital tools that empower people to take their problems into their own hands.</p>
	
	<p>In this Honors track you will conduct a 1-year project that you can define yourself by presenting your vision on the future of healthcare and wellbeing. Do you have an idea that empowers people or helps them manage their own personal wellbeing? Then in this track you will have to opportunity to bring that vision into reality! You will be inspired by lectures, workshops and company visits to companies such as Medtronic, Radboud UMC and more.</p>
{% endblock %}
