{% extends "page.html" %}
{% block title %}Energy Transition{% endblock %}
{% block view %}
		<p>The world population is growing and wealth in certain countries is increasing. As conventional energy resources are becoming scarce and energy demand is growing, the need to switch to more efficient use of resources and more radical changes to use sustainable energy resources is becoming more and more urgent. Additionally, greenhouse gas emissions need to go down substantially over the next 35 years. This university emphasizes its part in this transition through the Strategic Area Energy (SAE), which has been one of the three focus areas for several years now.

<h3>SAE</h3>
		<p>At the SAE we explore a broad spectrum of promising technologies. In the short term, research focuses on the built environment, new fuel technologies and smart grid solutions. Further away, research will deliver novel solar cells and other new revolutionary energy conversion and storage technologies. In the longer run, our nuclear fusion research will contribute to a sustainable transition in a global team effort.</p>

<h3>Examples of research questions of previous Energy Transition Track Projects</h3>
	<p>Can heat pump systems become important contributors to fulfilling the heat demand in the Netherlands? How can the production process of wood vinegar, a replacement for use of chemical pesticides in rural Thailand, be optimized? Can we run a bus on formic acid? Can the heat released when burning metals, make an important contribution to either electricity demand or energy demand in transport (mobility)? How can we design a smart grid for the TU/e campus?</p>
	
<h2> Teams in the track </h2>
	<p> Energy transition is a broad topic. Therefore, the track is split in six different teams. Each team with their own goals and each lifting energy to a whole new level.</p>
	
	<div class="box">
		<a target="_blank" href="http://www.teamsolid.org/">
			<img src="img/t_solid.png" alt="Team Solid" class="logos">
		</a>
		<p>The mission of Team SOLID is to realize the world's first Circular Energy Station using iron powder. This is a radically different power station, as it:
		<ul><li>Stores power when there is excess production</li>
			<li>Provides power when it is needed</li>
			<li>Uses iron powder as energy carrier</li>
			<li>Starts/stops quickly</li>
			<li>Is scalable</li>
		</ul>

		In the future, most of our energy will be provided by renewable energy sources, like solar and wind energy. The main challenge in this energy transition is that these energy sources fluctuate in their output. Energy needs to be stored to use the energy whenever and where-ever we want. This will be done with a circular energy station using iron powder.</p>
	</div>
	
	<div class="box">
		<span>
		<a href="http://www.livinglabhome.com/">
			<img src="img/t_casa.jpg" alt="Team Casa" class="logos">
		</a>
		</span>
		<p>Team CASA started as an honors team in September 2016, formed by students from both the Energy Transition track and the Smart Cities track. Team CASA's mission is to accelerate the energy transition. We bring together partners from the academic and business world to integrate and innovate in the construction environment. We will set a new, higher standard for all homes regarding sustainability, health and cost that can be achieved with technologies available today. This home will be a <b>C</b>omfortable, <b>A</b>ffordable, <b>S</b>ustainable <b>A</b>lternative for housing.</p>
	</div>
	
	<div class="box">
		<a target="_blank" href="http://www.teamfast.nl/">
			<img src="img/t_fast.png" alt="Team Fast" class="logos" style="margin-top:4px;">
		</a>
		<p>Global wamring is one of the main issues that I believe needs to be addressed as soon as possible. It is our duty, as future engineers, to contribute to a sustainable energy transition.

		<br><br>That is exactly what Team FAST, the project I currently am involved with, stands for. In this multidisciplinary team, we have developed a generator that can convert Hydrozine (sustainable Formic Acid) into electricity. This sustainable system can be applied in pretty much any situation, from the automotive sector to sustainable housing. Together, we will power the future with Hydrozine!
		</p>
	</div>
	
	<div class="box">
		<a href="http://teamwoodvinegar.com/">
			<img src="img/t_wood.png" alt="Team Wood Vinegar" class="logos">
		</a>
		<p>The world needs to become more sustainable if we want to keep it habitable. We are investing in renewable energy sources and more and more cars are driving on alternative fuels. An increasing amount of researchers are warning about the global warning. Humanity needs to get earth balanced again, and every bit helps. In some parts of the world synthetic pesticides are used in agriculture without proper regulation or control. This leads to unbalanced ecological systems, which harm the local environment. Wood vinegar is a biological alternative for the synthetic chemicals, with the possibility of being produced from leftover wood of the farm.
		</p>
	</div>
	
	<div class="box">
		<a target="_blank" href="http://www.teamred.nl/">
			<img src="img/t_red.png" alt="Team RED" class="logos">
		</a>
		<p> The goal of Team RED is to create an electricity grid that can integrate local and flexible energy assets into the energy system, in order to make energy use more sustainable. We aim to show people what the impact of innovations could be on the electricity grid of the campus. Our team is realizing this by making an interactive scale model of the TU/e campus, with the goal to create a discussion platform and a simulation model that can show the impact that technologies in several scenarios have on the grid. In the next stage we are planning to physically test new technologies on campus and create a living lab!</p>
	</div>
{% endblock %}