{% extends "page.html" %}
{% block title %}High Tech Systems{% endblock %}
{% block view %}
	<p>In this track you will focus on applications of unmanned air vehicles (UAVs) and ground robots requiring the integration and development of cutting edge technology and algorithms. Each of these applications requires state-of-the-art technology (e.g., computation, 3D printing, sensing), the application of scientific knowledge of several domains (e.g., robotics, artificial intelligence, motion control, communication systems, computer vision), and an innovative continuous process of improving current and developing new solutions. You are challenged to contribute to this process, right here, right now, in the city of high-tech systems.</p><br>
	
	<div class="photo_header">
		<img src="img/Tracks/drone_cyc.jpg" alt="Drone Cyclone" class="img">
		<img src="img/Tracks/action_fir.jpeg" alt="Working on the drone Firefly" class="img">
	</div>

<h2>Teams in the track</h2>
	<div class="grid-container">	
		<div class="grid-item">
			<a href="http://fireflyeindhoven.nl">
				<img src="img/Tracks/firefly.png" alt="Firefly" class="img" style="height: 150px;">
			</a>
		</div>
		
		<div class="grid-item">
			<p>Currently, the team is divided into four functional groups to tackle different challenges in regard to the drone show.  Together with the partner, Alvular, the team is expecting to make an immediate transition and provide a visually appealing drone show here at Eindhoven University of Technology in 2017. The team’s efforts are not limited to a show at the Eindhoven University of Technology, of course. After successfully organizing and performing light shows with drones in Eindhoven, the team has the ambition to go further by organizing shows for other events as well, possibly adding more drones, effects and lights. Companies such as Intel have already proven that large groups of drones can be orchestrated such that they deliver an awesome show. Firefly hopes to accomplish something similar in the future!</p>
		</div>
	
		<div class="grid-item">
			<a href="https://www.facebook.com/cyclonetue">
				<img src="img/Tracks/cyclone.jpg" alt="Cyclone" class="img">
			</a>
		</div>
		
		<div class="grid-item">
			<p>We are student team composed of 13 committed Bachelors students and scientific staff members from deferent departments at the Eindhoven university of technology aiming at the development of a fully autonomous high speed racing drone capable to agile navigation on an outdoors racing track based on its sensors onboard. </p>
		</div>
</div>
{% endblock %}
