{% extends "page.html" %}
{% block title %}Partners{% endblock %}
{% block view %}
	<div class="partners">
    <div class="partner__block">
      <div class="partner__block--picture">
        <a href="/ASML"><img src="/img/Partners/ASML.png"></a>
      </div>
      <div class="partner__block--info">
		    <h3 class="partner__block--heading"><a href="/ASML">ASML</a></h3>
        <p>Will you design a part of the machine, or make sure it gets built to the tightest possible specifications? Will you write software that drives the system to its best performance, or work side-by-side with the engineers of our customers in a fab, optimizing a system to the requirements of the customer?</p>
        <br>
        <p>For information about internships or graduation projects, visit <a href="https://www.workingatasml.com/students?ppc=CAM-83"> the website </a>.</p>
      </div>
    </div>
  </div>

  <div class="sisterassociations">
    <h1>Sister associations</h1>

    <div class="sisterassociations__block">
      <img src="/img/Partners/NSHV.png">
    </div>

    <div class="sisterassociations__block">
      <img src="/img/Partners/Ockham.png">
    </div>

    <div class="sisterassociations__block">
      <img src="/img/Partners/HCSA.png">
    </div>

    <div class="sisterassociations__block">
      <img src="/img/Partners/SLHC.png">
    </div>

  </div>
{% endblock %}
