{% extends "page.html" %}
{% block title %}SenSus Organization{% endblock %}
{% block view %}
	<p>SensUs is the annual international student competition on sensors for health, that is organized for students by students. In this track you will organize the SensUs competition. You are completely free in how you organize this large international event and how you approach all steps and activities that come across during the year. You are stimulated to take initiative and define your personal learning goals. Organizing SensUs gives you the chance to grow, both as a professional and as an individual. It is an unforgettable experience to achieve this by intensively working together with a group of very motivated students!</p>
	
<h2>Teams</h2>
	<p>The current organization consists of four subgroups: Technology, Events, External Relations and Media; supported by a chair, vice-chair, treasurer and secretary. The organization is multidisciplinary, since there are many different aspects in organizing an international competition. You are stimulated to take initiative and let your creativity flow.</p>
{% endblock %}