{% extends "base.html" %}
{% block content %}

	<h1>Smart Mobility</h1>
	<p>At TU/e Smart Mobility we see many opportunities to use the potential of technology to solve the problems of mobility by adding smartness to it aiming to decrease these negative effects down to 0%. Within the Smart Mobility track of the Honors Academy we would like to challenge you to develop yourself in generating out-of-the-box ground breaking new mobility concepts.</p>
	
	<p>In last two years the honors students in the smart mobility track have worked together on the design of an automated system of autonomous cars for the city of Eindhoven, on the aspects of design of the overall urban mobility system, the business plan, the App design, the digital world representation and vehicle control. The team consists of students from quite different disciplines: built environment, mechanical engineering, industrial engineering, industrial design and informatics. For the team a Renault Twizy is available for implementing core technologies and doing experiments with user focus groups.</p>
{% endblock %}