/* Zo hé is dit leeg. */
div.gallery {
    margin: 5px;
    border: 1px solid #53c3c3;
    position: relative;
    width: 200px;
	height: 200px;
	border-radius: 25px;
}

div.gallery:hover {
    border: 1px solid #ccc;
	border-radius: 25px;
	background: #53c3c3;
}

div.gallery h5 {
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 20pt;
	text-align: center;
	padding: 45px 0;
	color: black;
}

a {
	text-decoration: none;
}

div.gallery:hover h5 {
	color: white;
}

.picture {
	width: 200px;
	height: 200px;
	border-radius:25px;
}

.h3 {
	margin-top: 20px;
}


.p1 {
	text-align: center;
	margin-bottom: 15px;
}

.track {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.logos {
	width: 150px;
	height: 150px;
	display: flex;
}

.box {
	width: 85%;
	height: auto;
}

.img {
	height: 200px;
	display: block;
    margin-left: 0;
	margin-bottom: 8px;
    max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 340px minmax(340px, 1fr);
  background-color: #fff;
  padding: 10px;
}
.grid-item {
  background-color: #fff;
  padding: 20px;
  font-size: 30px;
  text-align: left;
	margin: auto;
}

.photo_header {
	overflow-x:hidden;
	width:100%;
	display:flex; 
	justify-content: space-between;
	flex-wrap:nowrap;
}

.down_under {
	clear:right;
	margin: 20px 0;
}

/* Student Council */
.council_list {
	list-style-type:disc;
	padding-left: 4em; 
	font-size: 96%;
}
.council_table {
	margin-left: 4em;
	width: 50%;
}

tr:hover {
	background-color:#C8EBEC;
}