.button {
	background-color: white;
	border: 2px solid #53C3C3;
	border-radius: 3px;
	color: black;
	padding: 10px 20px;
	margin-bottom: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button:hover {
	background-color: #53C3C3;
	color: white;
}


.content__sidebar-bg {
	background: rgb(242,242,242);
}

.content__sidebar {
	flex: 368px;
	max-width: 368px;
	min-width: 300px
}

.content__sidebar__header {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
  margin-top: 24px;
	margin-bottom: 6px;
	color: #404040;
	font-weight: initial;
}

.content__sidebar__header:first-of-type {
	margin-top: 0
}

.content__sidebar__list__item > a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
	width: 100%;
  font-size: 11pt;
	padding: 6px 0;
}


.content__main {
	display: block;
	flex: 668px;
	max-width: 668px;
}

.event_desc {
	text-align: justify;
	margin-bottom: 15px;
}

.event_image {
	width: 100%;
	margin-bottom: 15px;
}
