html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Rubik", Helvetica, sans-serif;
	line-height: 1.6;
	vertical-align: baseline;
	font-weight: normal;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 120%;
}

b {
	font-weight: bold;
}

p {
	margin-bottom: 10px;
}

a, a:visited {
	color: #53C3C3;
}

a:hover {
	color: #077777;
}

#header {
	width: 100%;
	background-color: #EEE;
}

.header-links {
	text-align: right;
}

.header-links li{
	display: inline;
}

.index-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}

.banner {
	width: 100%;
	padding-bottom: 25%;
	background-color: #DDD;
}

.index-sidebar {
	width: 30%;
	padding: 15px;
	background-color: #CCC;
}

.spyingMedia {
	margin-right: 10px;
}

.spyingMedia img {
	max-height: 50px;
}

.login-btn {
	text-decoration: none;
	color: #000000 !important; 
	display: inline-block;
	
	box-shadow: 0px 2px 5px 0px #000000;
	background-color: #53C3C3;
	padding: 15px 20px;
}

.login-btn:hover {
	background-color: #209090;
}

.right {
	float: right;
}

.index-content {
	width: 70%;
	padding: 15px;
}

.heading-box {
	background-color: black;
	color: white;
	margin-right: auto;
	display: inline-block;
	padding: 5px 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.heading-italic {
	font-style: italic;
}

.tiles {
	margin: -10px;
	display: flex;
	flex-flow: row wrap;
}

.tile {
	margin: 10px;
	background-color: #CCC;
	width: 250px;
	height: 200px;
	flex: auto;
	position: relative;
}

.tile > .activity-name {
	position: absolute;
	bottom: 0;

	color: #000;
	height: 20%;
	font-size: 120%;
	background-color: #BBB;
	width: 100%;
}

a.activity:hover > .activity-name{
	text-decoration: underline;
}

#footer {
	width: 100%;
	background-color: #EEE;
}

@media (max-width: 750px) {
	.index-wrapper {
		flex-wrap: wrap-reverse;
	}
	
	.index-content {
		width: auto;
	}
	
	.index-sidebar {
		width: auto;
	}
}

.currentBoardBloack {
	width: 90%;
	background-color: #F5F5F5;
	display: block;
    margin-left: auto;
    margin-right: auto;
	/*text-align:justify;*/
	/*text-align-last:center;*/
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.floatingImg{
	display:inline-block;
    margin-left: auto;
    margin-right: auto;
	padding: 5% 5% 5% 5%;
	background-color: #F0F0F0;
}

.centeredImg{
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 5% 5% 5% 5%;
}

.boardImg{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.boardDiv{
	padding: 0% 15% 5% 15%;
}