html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Rubik", Helvetica, sans-serif;
	line-height: 1.6;
	vertical-align: baseline;
	font-weight: normal;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 120%;
}

b {
	font-weight: bold;
}

p {
	margin-bottom: 10px;
}

a, a:visited {
	color: #53C3C3;
}

a:hover {
	color: #077777;
}

.view > * {
	padding: 0 18px;
}

.container {
	display: block;
	margin: 0 auto;
	max-width: 1000px
}

.container--flex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between
}




/* === Structure === */

#header {
	display: block;
	position: sticky;
	top: 0;
	width: 100%
}
#header-logo {
	white-space: nowrap
}
#header-logo a {
	font-family: inherit;
  font-size: inherit
}

.header-links {
	text-align: right;
}

.header-links li{
	display: inline;
}

.index-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}

.banner {
	width: 100%;
	padding-bottom: 25%;
	background-color: #DDD;
}

.committees {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.block-picture img {
	width: 250px;
	height: 150px;
}

.committees__head {
	text-align: center;
}

.committees__block {
	width: 300px;
	height: 30%;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	margin: 15px;
	position: relative;
}

.committees__block--picture img {
	width: 100%;
	height: 100%;
}

.committees__block--info {
	padding: 18px;
}

.committees__block--heading {
	font-weight: 500;
}

.index-sidebar {
	width: 30%;
	padding: 15px;
	background-color: #CCC;
}

.spyingMedia {
	margin-right: 10px;
}

.spyingMedia img {
	max-height: 50px;
}

.login-btn {
	text-decoration: none;
	color: #000000 !important;
	display: inline-block;

	box-shadow: 0px 2px 5px 0px #000000;
	background-color: #53C3C3;
	padding: 15px 20px;
}

.login-btn:hover {
	background-color: #209090;
}

.right {
	float: right;
}

.index-content {
	width: 70%;
	padding: 15px;
}

.heading-box {
	background-color: black;
	color: white;
	margin-right: auto;
	display: inline-block;
	padding: 5px 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.heading-italic {
	font-style: italic;
}

.tiles {
	margin: -10px;
	display: flex;
	flex-flow: row wrap;
}

.tile {
	margin: 10px;
	background-color: #CCC;
	width: 250px;
	height: 200px;
	flex: auto;
	position: relative;
}

.tile > .activity-name {
	position: absolute;
	bottom: 0;

	color: #000;
	height: 20%;
	font-size: 120%;
	background-color: #BBB;
	width: 100%;
}

a.activity:hover > .activity-name{
	text-decoration: underline;
}

.menu {
	background: inherit;
	display: inline-block;
	font-size: 0
}
.menu ul {
	display: block;
	list-style: none
}
.menu__item {
	color: inherit;
	display: inline-block;
	list-style: none;
	position: relative;
	text-align: right;
	white-space: nowrap
}
.menu__item > a {
	color: inherit;
	display: inline-block;
	text-decoration: none
}
.menu__item--sub,
.menu__item--sub a {
	display: block
}
.menu--sub {
	display: none !important;
	position: absolute;
	right: 0
}
.menu__item:hover .menu--sub {
	display: block !important;
}
#menu__switch, label[for="menu__switch"]{
	display: none;
}

@media (max-width:600px){

	#header {
		overflow-y: auto;
	}

	.container--flex {
		flex-wrap: wrap;
	}

	nav.menu {
		background: black;
    display: none;
		width: 100%;
		padding-left: 18px;
		top:48px;
		height: 100vh
	}

	.menu__item {
		display: block;
		text-align: left
	}

	.menu .menu__item:not(.menu__item--sub){
		padding-top: 18px;
	}

	.menu--sub {
		display: block !important;
		position: static;
		padding-left: 18px
	}

	.menu__item a {
		position: static
	}

	.menu__item:not(.menu__item--sub) {
		color: #fff
	}
	label[for="menu__switch"] {
		display: block
	}
	#menu__switch:checked ~ nav.menu  {
		display: block;
	}

}




/* === Styling === */

#header {
	background-color: #000;
	color: white
}

#header-logo {
	font-family: 'Rounded Elegance', Rubik, Arial, sans-serif;
	font-size: 16px
}

.menu:hover, .menu--sub {
	color: #bbb
}

.menu--sub {
  background: #000
}

.menu__item > a {
  font-size: 13px;
	line-height: 56px;
	padding: 0 18px
}

.menu__item:hover {
	color: #fff
}

.menu__item--sub a {
	line-height: 42px
}
label[for="menu__switch"] {
	width: 56px;
	background-color: rgba(255,255,255,.15)
}

#footer {
	background-color: #EEE
}

@media (max-width: 750px) {
	.index-wrapper {
		flex-wrap: wrap-reverse;
	}

	.index-content {
		width: auto;
	}

	.index-sidebar {
		width: auto;
	}
}

.currentBoardBloack {
	width: 90%;
	background-color: #F5F5F5;
	display: block;
    margin-left: auto;
    margin-right: auto;
	/*text-align:justify;*/
	/*text-align-last:center;*/
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.floatingImg{
	display:inline-block;
    margin-left: auto;
    margin-right: auto;
	padding: 5% 5% 5% 5%;
	background-color: #F0F0F0;
}

.centeredImg{
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 5% 5% 5% 5%;
}

.boardImg{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.boardDiv{
	padding: 0% 15% 5% 15%;
}
