{% extends "events.html" %}

{% block title %}{{event.Name}}{% endblock %}

{% block buttons %}
    {% if event.Link_fb %}<a class="social-media__button" href="{{event.Link_fb}}" target="_blank"><img src="img/facebook_100.png"></a>{% endif %}
{% endblock %}

{% block view %}
  {% if event.Image %}<img src="{{event.Image}}" class="event_image">{% endif %}
  <p class="event_desc">{{event.Description}}</p>
  {% if event.Link_subscription %}<a href="{{event.Link_subscription}}" target="_blank"><button class="button">Sign up now!</button></a>{% endif %}
{% endblock %}
