{% extends "events.html" %}

{% block title %}{{event.Name}}{% endblock %}

{% block buttons %}
    {% if event.Link_fb %}<a class="social-media__button" href="{{event.Link_fb}}"><img src="img/facebook_100.png"></a>{% endif %}
{% endblock %}

{% block view %}
  {% if event.Image %}<img src="{{event.Image}}" />{% endif %}
  <p>{{event.Description}}</p>
  {% if event.Link_subscription %}<a href="{{event.Link_subscription}}"><button class="button">Sign up now!</button></a>{% endif %}
{% endblock %}
