<header id="header">
	<div class="container container--flex">

		<input id="menu__switch" type="checkbox">
		<label for="menu__switch"></label>

		<div id="header-logo" class="menu__item"><a href="/">H.S.A. Confluente</a></div>

		<nav class="menu">
			<ul>
				<li class="menu__item">
					<a href="/events">Events</a>
					<ul class="menu menu--sub">
						<li class="menu__item menu__item--sub"><a href="#">Submenu link</a></li>
						<li class="menu__item menu__item--sub"><a href="#">Submenu link</a></li>
						<li class="menu__item menu__item--sub"><a href="#">Submenu link</a></li>
						<li class="menu__item menu__item--sub"><a href="#">Submenu link</a></li>
						<li class="menu__item menu__item--sub"><a href="#">Submenu link</a></li>
					</ul>
				</li>
				<li class="menu__item">
					<a href="/association">Association</a>
					<ul class="menu menu--sub">
						<li class="menu__item menu__item--sub"><a href="#">About Confluente</a></li>
						<li class="menu__item menu__item--sub"><a href="#">Boards</a></li>
						<li class="menu__item menu__item--sub"><a href="#">Committees</a></li>
					</ul>
				</li>
				<li class="menu__item">
					<a href="/academy">Education</a>
					<ul class="menu menu--sub">
						<li class="menu__item menu__item--sub"><a href="#">Submenu link</a></li>
						<li class="menu__item menu__item--sub"><a href="#">Submenu link</a></li>
						<li class="menu__item menu__item--sub"><a href="#">Submenu link</a></li>
						<li class="menu__item menu__item--sub"><a href="#">Submenu link</a></li>
					</ul>
				</li>
				<li class="menu__item">
					<a href="/partners">Partners</a>
					<ul class="menu menu--sub">
						<li class="menu__item menu__item--sub"><a href="#">Submenu link</a></li>
						<li class="menu__item menu__item--sub"><a href="#">Submenu link</a></li>
					</ul>
				</li>
			</ul>
		</nav>

	</div>
</header>
