{% extends "base.html" %}

{% block content %}

<div class="banner">
  <img class="mySlides w3-animate-fading" src="img/DSC07784.JPG">
  <img class="mySlides w3-animate-fading" src="img/IntroWeekend2017.jpg">

  <script>
  var myIndex = 0;
  carousel();

  function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 9000);
  }
  </script>

</div>

<div class="content--grid content--grid--frontpage">
  <div class="content__sidebar content__sidebar--background">
  </div>

  <div class="content__sidebar">

    <div class="container--flex">
      <h1 class="page-title page-title--inline hsa">H.S.A. Confluente</h1>
      <div class="social-media">
        <a class="social-media__button" href="https://www.facebook.com/hsaconfluentenl/"><img src="img/facebook_100.png"></a>
        <a class="social-media__button" href="https://www.linkedin.com/company/h.s.a.-confluente/"><img src="img/linkedin_100.png"></a>
      </div>
    </div>

    <h4 class="event-list__item--header">Announcements</h4>
    <p>Nis aut et aut restis nobit veliqui doluptiost faccatur a acea incte sinullaborro corro bla ilition sequae nulparum quodis molo earibus repro eum quatia con cullorum es as et peritaquam, ipsande il inctem. <a href="http://dev.godtschalk.net:2412/news">Read more</a></p>
    <p>Nis aut et aut restis nobit veliqui doluptiost faccatur a acea incte sinullaborro corro bla ilition sequae nulparum quodis molo earibus repro eum quatia con cullorum es as et peritaquam, ipsande il inctem. <a href="http://dev.godtschalk.net:2412/news">Read more</a></p>

    <h4 class="event-list__item--header">Poll</h4>
    <p>Nis aut et aut restis nobit veliqui doluptiost faccatur a acea incte sinullaborro corro bla ilition sequae nulparum quodis molo earibus repro eum quatia con cullorum es as et peritaquam, ipsande il inctem.</p>

    <h4 class="event-list__item--header">Quote</h4>
    <p>Oh man this is an almighty quote.</p>
  </div>

  <div class="content__main">

    <div class="content__main__block">
      <!--<p>The Honors Study Association Confluente is the study association of the Honors Academy at the Eindhoven University of Technology. Our aim is to make the experience of all Honors students as enjoyable, educational, fun and enriching as possible.
        We strive to do so by arranging educational activities, such as lunch lectures, skill trainings, company visits and study trips, as well as fun activities such as monthly drinks, laser questing and pub quizzes for all our members to enjoy.</p>-->
      <p>Study association of the Honors Academy at Eindhoven University of Technology.
    </div>

    <div class="content__main__block">

      <h2 class="heading-box">Upcoming events</h2>
      <a href="/activities">See all</a>

      <div id="frontpage-activities">
        <ul id="activity-grid">

  				{% for event in activities %}
          <li class="grid__item">
            <a href="/activity/{{loop.index - 1}}">


              <figure class="grid__item__figure"></figure>
              <p class="grid__item__category">{{event.category}}</p>
              <div class="grid__item__content">
                <h4>{{event.name}}</h4>
              </div>
              <p class="grid__item__details">{{event.details}}</p>
            </a>
  				{% endfor %}

  				{% for event in range(0, 4) %}
          <li class="grid__item">
            <a href="#">


              <figure class="grid__item__figure"></figure>
              <p class="grid__item__category">Lunch lecture</p>
              <div class="grid__item__content">
                <h4>Innovation Space</h4>
              </div>
              <p class="grid__item__details">March 28 | 12:45 | Gaslab</p>
            </a>
  				{% endfor %}

        </ul>
      </div>
    </div>
  </div>

</div>

{% endblock %}
